doctype html
html(lang="pt-br")
  head
    include ../head.pug
  body.theme-dark
    main
      include ../header.pug
    aside
      include ../aside.pug
    .container
      .swatches
        .red-500.swatch-title
          h3 red
        span.color-swatch.red-50 50
        span.color-swatch.red-100 100
        span.color-swatch.red-200 200
        span.color-swatch.red-300 300
        span.color-swatch.red-400 400
        span.color-swatch.red-500 500
        span.color-swatch.red-600 600
        span.color-swatch.red-700 700
        span.color-swatch.red-800 800
        span.color-swatch.red-900 900
      .swatches
        .pink-500.swatch-title
          h3 pink
        span.color-swatch.pink-50 50
        span.color-swatch.pink-100 100
        span.color-swatch.pink-200 200
        span.color-swatch.pink-300 300
        span.color-swatch.pink-400 400
        span.color-swatch.pink-500 500
        span.color-swatch.pink-600 600
        span.color-swatch.pink-700 700
        span.color-swatch.pink-800 800
        span.color-swatch.pink-900 900
      .swatches
        .purple-500.swatch-title
          h3 purple
        span.color-swatch.purple-50 50
        span.color-swatch.purple-100 100
        span.color-swatch.purple-200 200
        span.color-swatch.purple-300 300
        span.color-swatch.purple-400 400
        span.color-swatch.purple-500 500
        span.color-swatch.purple-600 600
        span.color-swatch.purple-700 700
        span.color-swatch.purple-800 800
        span.color-swatch.purple-900 900
      .swatches
        .deep-purple-500.swatch-title
          h3 deep-purple
        span.color-swatch.deep-purple-50 50
        span.color-swatch.deep-purple-100 100
        span.color-swatch.deep-purple-200 200
        span.color-swatch.deep-purple-300 300
        span.color-swatch.deep-purple-400 400
        span.color-swatch.deep-purple-500 500
        span.color-swatch.deep-purple-600 600
        span.color-swatch.deep-purple-700 700
        span.color-swatch.deep-purple-800 800
        span.color-swatch.deep-purple-900 900
      .swatches
        .indigo-500.swatch-title
          h3 indigo
        span.color-swatch.indigo-50 50
        span.color-swatch.indigo-100 100
        span.color-swatch.indigo-200 200
        span.color-swatch.indigo-300 300
        span.color-swatch.indigo-400 400
        span.color-swatch.indigo-500 500
        span.color-swatch.indigo-600 600
        span.color-swatch.indigo-700 700
        span.color-swatch.indigo-800 800
        span.color-swatch.indigo-900 900
      .swatches
        .blue-500.swatch-title
          h3 blue
        span.blue-50.color-swatch 50
        span.blue-100.color-swatch 100
        span.blue-200.color-swatch 200
        span.blue-300.color-swatch 300
        span.blue-400.color-swatch 400
        span.blue-500.color-swatch 500
        span.blue-600.color-swatch 600
        span.blue-700.color-swatch 700
        span.blue-800.color-swatch 800
        span.blue-900.color-swatch 900
      .swatches
        .light-blue-500.swatch-title
          h3 light-blue
        span.color-swatch.light-blue-50 50
        span.color-swatch.light-blue-100 100
        span.color-swatch.light-blue-200 200
        span.color-swatch.light-blue-300 300
        span.color-swatch.light-blue-400 400
        span.color-swatch.light-blue-500 500
        span.color-swatch.light-blue-600 600
        span.color-swatch.light-blue-700 700
        span.color-swatch.light-blue-800 800
        span.color-swatch.light-blue-900 900
      .swatches
        .cyan-500.swatch-title
          h3 cyan
        span.color-swatch.cyan-50 50
        span.color-swatch.cyan-100 100
        span.color-swatch.cyan-200 200
        span.color-swatch.cyan-300 300
        span.color-swatch.cyan-400 400
        span.color-swatch.cyan-500 500
        span.color-swatch.cyan-600 600
        span.color-swatch.cyan-700 700
        span.color-swatch.cyan-800 800
        span.color-swatch.cyan-900 900
      .swatches
        .swatch-title.teal-500
          h3 teal
        span.color-swatch.teal-50 50
        span.color-swatch.teal-100 100
        span.color-swatch.teal-200 200
        span.color-swatch.teal-300 300
        span.color-swatch.teal-400 400
        span.color-swatch.teal-500 500
        span.color-swatch.teal-600 600
        span.color-swatch.teal-700 700
        span.color-swatch.teal-800 800
        span.color-swatch.teal-900 900
      .swatches
        .green-500.swatch-title
          h3 green
        span.color-swatch.green-50 50
        span.color-swatch.green-100 100
        span.color-swatch.green-200 200
        span.color-swatch.green-300 300
        span.color-swatch.green-400 400
        span.color-swatch.green-500 500
        span.color-swatch.green-600 600
        span.color-swatch.green-700 700
        span.color-swatch.green-800 800
        span.color-swatch.green-900 900
      .swatches
        .light-green-500.swatch-title
          h3 light-green
        span.color-swatch.light-green-50 50
        span.color-swatch.light-green-100 100
        span.color-swatch.light-green-200 200
        span.color-swatch.light-green-300 300
        span.color-swatch.light-green-400 400
        span.color-swatch.light-green-500 500
        span.color-swatch.light-green-600 600
        span.color-swatch.light-green-700 700
        span.color-swatch.light-green-800 800
        span.color-swatch.light-green-900 900
      .swatches
        .lime-500.swatch-title
          h3 lime
        span.color-swatch.lime-50 50
        span.color-swatch.lime-100 100
        span.color-swatch.lime-200 200
        span.color-swatch.lime-300 300
        span.color-swatch.lime-400 400
        span.color-swatch.lime-500 500
        span.color-swatch.lime-600 600
        span.color-swatch.lime-700 700
        span.color-swatch.lime-800 800
        span.color-swatch.lime-900 900
      .swatches
        .swatch-title.yellow-500
          h3 yellow
        span.color-swatch.yellow-50 50
        span.color-swatch.yellow-100 100
        span.color-swatch.yellow-200 200
        span.color-swatch.yellow-300 300
        span.color-swatch.yellow-400 400
        span.color-swatch.yellow-500 500
        span.color-swatch.yellow-600 600
        span.color-swatch.yellow-700 700
        span.color-swatch.yellow-800 800
        span.color-swatch.yellow-900 900
      .swatches
        .amber-500.swatch-title
          h3 amber
        span.amber-50.color-swatch 50
        span.amber-100.color-swatch 100
        span.amber-200.color-swatch 200
        span.amber-300.color-swatch 300
        span.amber-400.color-swatch 400
        span.amber-500.color-swatch 500
        span.amber-600.color-swatch 600
        span.amber-700.color-swatch 700
        span.amber-800.color-swatch 800
        span.amber-900.color-swatch 900
      .swatches
        .orange-500.swatch-title
          h3 orange
        span.color-swatch.orange-50 50
        span.color-swatch.orange-100 100
        span.color-swatch.orange-200 200
        span.color-swatch.orange-300 300
        span.color-swatch.orange-400 400
        span.color-swatch.orange-500 500
        span.color-swatch.orange-600 600
        span.color-swatch.orange-700 700
        span.color-swatch.orange-800 800
        span.color-swatch.orange-900 900
      .swatches
        .deep-orange-500.swatch-title
          h3 deep-orange
        span.color-swatch.deep-orange-50 50
        span.color-swatch.deep-orange-100 100
        span.color-swatch.deep-orange-200 200
        span.color-swatch.deep-orange-300 300
        span.color-swatch.deep-orange-400 400
        span.color-swatch.deep-orange-500 500
        span.color-swatch.deep-orange-600 600
        span.color-swatch.deep-orange-700 700
        span.color-swatch.deep-orange-800 800
        span.color-swatch.deep-orange-900 900
      .swatches
        .brown-500.swatch-title
          h3 brown
        span.brown-50.color-swatch 50
        span.brown-100.color-swatch 100
        span.brown-200.color-swatch 200
        span.brown-300.color-swatch 300
        span.brown-400.color-swatch 400
        span.brown-500.color-swatch 500
        span.brown-600.color-swatch 600
        span.brown-700.color-swatch 700
        span.brown-800.color-swatch 800
        span.brown-900.color-swatch 900
      .swatches
        .grey-500.swatch-title
          h3 grey
        span.color-swatch.grey-50 50
        span.color-swatch.grey-100 100
        span.color-swatch.grey-200 200
        span.color-swatch.grey-300 300
        span.color-swatch.grey-400 400
        span.color-swatch.grey-500 500
        span.color-swatch.grey-600 600
        span.color-swatch.grey-700 700
        span.color-swatch.grey-800 800
        span.color-swatch.grey-900 900
      .swatches
        .blue-grey-500.swatch-title
          h3 blue-grey
        span.blue-grey-50.color-swatch 50
        span.blue-grey-100.color-swatch 100
        span.blue-grey-200.color-swatch 200
        span.blue-grey-300.color-swatch 300
        span.blue-grey-400.color-swatch 400
        span.blue-grey-500.color-swatch 500
        span.blue-grey-600.color-swatch 600
        span.blue-grey-700.color-swatch 700
        span.blue-grey-800.color-swatch 800
        span.blue-grey-900.color-swatch 900
    footer
      include ../footer.pug