nav.asidemenu.--active
  ul
    li
      i(class="fas fa-home")
      a(href="#!") home
    li
      i(class="fas fa-shoe-prints")
      a(href="#!") getting started
    li
      i(class="fas fa-object-group")
      a(href="#!") components
    li
      i(class="fas fa-handshake")
      a(href="#!") helpers
    li
      i(class="fas fa-sliders-h")
      a(href="#!") variables
    li
      i(class="fas fa-info-circle")
      a(href="#!") about
