nav.wrapper
  ul.handler
    li.item
      i(class="icon fas fa-home")
      a(href="#!", class="link") home
    li.item
      i(class="icon fas fa-shoe-prints")
      a(href="#!", class="link") getting started
    li.item
      i(class="icon fas fa-object-group")
      a(href="#!", class="link") components
    li.item
      i(class="icon fas fa-handshake")
      a(href="#!", class="link") helpers
    li.item
      i(class="icon fas fa-sliders-h")
      a(href="#!", class="link") variables
    li.item
      i(class="icon fas fa-info-circle")
      a(href="#!", class="link") about
