doctype html
html(lang="pt-br")
  head
    include head.pug
  body.theme-dark.bg
    aside.asidemenu.-active
      include components/aside.pug
    main.page-content
      include components/header.pug
    footer
      include footer.pug